<meta property="og:title" content="Honooru / Cache view" />
<meta property="og:description" content="cache stuff" />

<script src="~/dist/view/cache/view.js" defer asp-append-version="true"></script>

<style>

</style>

<div class="container-fluid" id="app">
    <cache-view></cache-view>
</div>
