<meta property="og:title" content="Honooru / Realtime" />
<meta property="og:description" content="stuff" />

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="~/lib/signalr/signalr.js"></script>
<script src="~/dist/view/mainpage/view.js" defer asp-append-version="true"></script>

<style>

</style>

<div id="app" class="container-fluid" style="font-size: 14px; line-height: 1;" v-cloak>
    <mainpage></mainpage>
</div>

