<meta property="og:title" content="Honooru / Pools" />
<meta property="og:description" content="pool" />

<script src="~/dist/view/pools/view.js" defer asp-append-version="true"></script>

<style>

</style>

<div id="app" class="container-fluid" v-cloak>
    <pool-list></pool-list>
</div>

