<meta property="og:title" content="Honooru / Pool" />
<meta property="og:description" content="pool" />

<script src="~/dist/view/pool/view.js" defer asp-append-version="true"></script>

<style>

</style>

<div id="app" class="container-fluid" v-cloak>
    <pool-view></pool-view>
</div>

