<meta property="og:title" content="Honooru / Posts" />
<meta property="og:description" content="View posts" />

<script src="~/dist/view/posts/view.js" defer asp-append-version="true"></script>

<style>

</style>

<div class="container-fluid" id="app">
    <posts></posts>
</div>
