<meta property="og:title" content="Honooru / settings" />
<meta property="og:description" content="change user settings" />

<script src="~/dist/view/settings/view.js" defer asp-append-version="true"></script>

<style>

</style>

<div class="container-fluid" id="app">
    <settings></settings>
</div>
