<meta property="og:title" content="Honooru / Tag" />
<meta property="og:description" content="View tag info" />

<script src="~/dist/view/tag/view.js" defer asp-append-version="true"></script>

<style>

</style>

<div class="container-fluid" id="app">
    <view-tag></view-tag>
</div>

