<meta property="og:title" content="Honooru / Tags" />
<meta property="og:description" content="View tags" />

<script src="~/dist/view/tags/view.js" defer asp-append-version="true"></script>

<style>

</style>

<div class="container-fluid" id="app">
    <tag-list></tag-list>
</div>

