<meta property="og:title" content="Honooru / Tag Type" />
<meta property="og:description" content="Edit tag type" />

<script src="~/dist/view/tagtype/view.js" defer asp-append-version="true"></script>

<style>

</style>

<div class="container-fluid" id="app">
    <tag-type-editor></tag-type-editor>
</div>

