<meta property="og:title" content="Honooru / Upload" />
<meta property="og:description" content="View posts" />

<link href="https://vjs.zencdn.net/8.10.0/video-js.css" rel="stylesheet" />

<script src="~/lib/signalr/signalr.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="~/dist/view/upload/view.js" defer asp-append-version="true"></script>

<style>

</style>

<div class="container-fluid" id="app">
    <upload></upload>
</div>

<script src="https://vjs.zencdn.net/8.10.0/video.min.js"></script>
